<section id="search_product">
    <div>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.type) }}
        {{ form_row(form.priceMin) }}
        {{ form_row(form.priceMax) }}
        {{ form_row(form.isActive) }}

        {{ form_end(form) }}
    </div>
</section>
